@media screen and (max-width: 800px) {
  /* 登录页 */
  /* 客服图标 底部信息 */
  div.index_DragController__BS7JL,
  div.style_footerWrapper__2iGO8 {
    display: none;
  }
  /* 登录框 */
  div.index_banner__1d8CU {
    padding-right: initial;
    justify-content: center;
  }
  /* 登录样式 */
  div.index_rootContainer__1vmBh {
    width: 100%;
  }
  /* 开播前 */
  .style_container-responsive__3rYw_.styles_responsive-wrapper__1qtNL {
    height: 100vh;
  }
  div.index__livePrepare___3IVDl {
    display: none !important;
  }

  /* 直播页 */
  /* 顶部导航 */
  div.styles_appNavBarPlace__3wszh,
    #menu_app,
    div.nav-menu_leftBar__2a2z5,
    /* 侧边栏 */
    div.style_left-side-bar__2OzUz,
    /* 商品栏 */
    div.index__right___3j91e,
    /* 直播nav */
    div.index_tabContainerSplit__1o32V,
    div.index__bottomGuides___BOaP6,
    div.index_DragController__1uFoY,
    /* 直播标题 */
    div.index__navHeader___3Q-vW,
    div.index__expandPanel___OilIc {
    display: none;
  }
  /* 直播数据 */
  div.index__liveData___35828 {
    height: initial;
  }
  div.index__liveData___35828 div.index__container___77_eg {
    padding: 0px;
    height: initial;
  }
  /* 取消滚动条 */
  div.style_container-responsive__3rYw_{
    width: 100%;
  }
  div.styles_subAppContent__1pvwE,
  div.styles_appContent__248Ru {
    min-width: initial !important;

  }

  div.index__liveControl___1C48H.index__doudian___3SFGL {
    margin: 0px;
    padding: 0px;
  }
  div.style_container-responsive__3rYw_ .style_content-wrapper__3BVh3 {
    padding: 0px;
  }
  /* 数据 */
  div.index__liveData___35828 .index__container___77_eg .index__items___E_iC2 {
    justify-content: initial;
    margin-top: 0px;
  }
  div.index__accumulateItem___mhV2F {
    height: inherit;
    width: inherit;
  }
  /* 不重要的数据 */
  div.index__chart___sTe69 {
    display: none;
  }
  /* 弹幕字体大小 */
  div.index-module__commentItem___2fLb5 {
    font-size: 17px;
  }
  /* 弹幕框容器*/
  #app .index__liveControl___1C48H index__doudian___3SFGL .auxo-row {
    height: 100vh;
  }
  /* 弹幕框 */
  div.index__liveControl___1C48H .index__left___2wWOX{
    max-width: initial ;
    flex: 1;
  }
  div.index__liveControl___1C48H .index__left___2wWOX {
    padding-right: 0px;
  }
  div.index__liveInteraction___iPH2Z .index__content___3O3Oo {
    padding: 0px;
  }
}
