@media screen and (max-width: 500px) {
  /* 登录页     */
  div.CbtbGIUX4qIaip9IY2Sb {
    flex-direction: row-reverse;
  }
  .UqM2VqEDB3qdOFvSOHAB .fKC_H_KYcznw5DdQcVgw {
    width: initial;
  }
  div.CbtbGIUX4qIaip9IY2Sb {
    width: initial;
  }
  div.tXaID040THCALG9LfQ8z {
    display: none;
  }
  /* 直播助手 */
  header.ant-layout-header.header--VGq1u,
  div.container--Ybdw_,
  #kpro-tool-box-tools-containner,
  div.planinfo--BWHWc,
  div.container-item--FXFbT:nth-child(5),
  div.container-item--FXFbT:nth-child(6),
  div.container-item--FXFbT:nth-child(7)

   {
    display: none;
  }
  .ant-layout-content.main--znBqD > div {
    justify-content: left !important;
  }
  div.empty-container {
    min-height: 400px !important;
    height: calc(100vh-70px) !important;
  }
  section.ant-layout.container--krNU5{
    min-width: initial;
  }
  .layout--XS67m .container--krNU5 .main--znBqD {
    margin: 0px !important;
    background-color: white;
  }
  div.container--YqRfb {
    display: block;
    background-color: white;
  }
  div.live-panel--NqbCt .content-container--VMmvW{
      padding: 0 !important;
  }
  /* 弹幕框 */
  main.ant-layout-content.main--znBqD>div{
    display: block !important;
  }
  div.live-panel--NqbCt{
    padding: 0 20px !important;
  }
  div.text-input--SiBdO input::placeholder{
    color: white ;
    font-weight: 800;
    font-size: 17px;
  }
  /* 弹幕框容器大小 */
  div.public-list-wrap--X0GUj{
    height: 500px !important;
  }
  /* 弹幕字体调整 */
  div.comment-items--Og8xq{
    font-size: 17px;
  }
  /* 用户id样式 */
  div.comment-items--Og8xq .head--ZBFNP{
    background-color: #5c8fff;
    padding: 2px 10px;
    background-color: rgb(255, 103, 52);
    border-radius: 20px;
  }
  div.comment-items--Og8xq .head--ZBFNP .username--BCJbc{
    color: white;
  }
  /* 直播间信息框 */
  div.index-module__titleRow___9mXFF,
  div.index-module__promorionEntryWrapper___ECVwO,
  div.index-module__header___FDmQD
  {
    display: none !important;
  }
  div.index-module__followerAssistantContainer___B58pA{
    display: none;
  }
  div.index-module__dataBlockWrapper___Ipkjx .index-module__body___33Q2h{
    flex-wrap: nowrap;
  }
  div.index-module__dataBlockWrapper___Ipkjx .index-module__body___33Q2h .index-module__item___Hqa3u{
     padding: 0px;
     background-color: initial;
     min-width: initial;
  }
  /* 直播数据调整 */
  div.conatiner--WdvbV{
    padding: 0 20px;
  }
  div.info--Ie0nx>div:nth-child(2),
  div.hand--J2v3B.right--TFruT,
  .tip--cSIGE,
  div.slick-track>.slick-slide:nth-child(2),
  div.slick-track>.slick-slide:nth-child(3),
  div.slick-track>.slick-slide:nth-child(6),
  div.slick-track>.slick-slide:nth-child(7),
  div.slick-track>.slick-slide:nth-child(8)
  {
    display: none !important;
  }
  div.slick-list div.slick-track{
    display: flex;
    width: 100% !important;
  }
  div.slick-track>.slick-slide{
    flex: 1;
  }
  /* 消息发送框定位底部 */
  div.reply-content--nJbZf{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
  div.reply-content--nJbZf .text-input--SiBdO{
    background: #5c8fff;
  }


}
